@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#e2ba4db4;
    --peru:#cd9452;
    --black:#13131a;
    --bg:#ffffff;
    --trasparente:rgba(255, 255, 255, 0.137);
    --border:.1rem solid rgba(255,255,255,.3);

}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: 0;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #e2ba4db4;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:#ffffff;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#e2bb4d;
    background: black;
    cursor: pointer;
}

.btn1{
    margin-top: 1rem;
    justify-content:center;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#e2bb4d;
    background: black;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.1rem 7%;
    border-bottom: gray;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
  width: 80px;
}

.header .logo_text{
  
  color:white;
  font-size:16px;
 margin-left:-230px;
 margin-top:2px;
}




.header .navbar a{
   
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.btn-bran1{
    background-color:#25d366;
    border-color:#25d366 ;
    color: white;
    margin-left:11px;
    align-items: center;
    font-size: 17px;
    padding: 10px;
    margin: 10px;
}


.btn-bran1:hover{
background-color:white;
border-color:white;
color:#25d366 ;
margin-left:11px;
align-items: center;
font-size: 17px;
padding: 10px;
margin:10px;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}


.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:#ffffff;
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:#ffffff;
}

.header .search-form label:hover{
    color:var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #ffff;
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/3.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    
    font-size: 6rem;
    text-transform: uppercase;
    color:white;

}

.home .content p{
    font-size: 2rem;
    font-weight:0;
    line-height: 1.8;
    padding:1rem 0;
    color:rgb(15, 15, 15);
    
}

.welcome{
    margin-top:-24px;
    align-items:center;

}

.welcome1{
width:382px;
height:55px;
background:rgba(255, 255, 255, 0.137);
margin-top:20px;
}

.about .row{
    display: flex;
    align-items: center;
    background:rgb(29, 29, 29);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}


.about .row .content{
    flex:1 1 25rem;
    padding:6rem;

}

.about .row .content h3{
    font-size: 3rem;
    color:rgb(7, 7, 7);
}


.agua {
margin:auto;
max-height: 100%;
width:100%;
}



.vapour
{
position:relative;
display:flex;
margin-left:250px;
margin-top: -100px;
z-index:1;
padding:0 20px;
}

.vapour span
{
position: relative;
bottom: 50px;
display:block;
margin: 0 3px 50px;
min-width: 8px;
height: 110px;
background:rgba(255, 255, 255, 0.356);
border-radius:60%;
animation: animate 5s linear infinite;
opacity:0;
filter: blur(9px);
animation-delay: calc (var(--i) * -0.4s);
}


@keyframes animate
{
0%
{
transform : translateY(0) scaleX(1);
opacity: 0;
}
15%
{
opacity: 1;
}
50%
{
transform: translateY(-150px) scaleX(5);
}

95%
{
    opacity:0;
}

100%
{
transform : translateY(-300px) scaleX(10);
}
}


.agua {
margin:auto;
max-height: 100%;
width:100%;
z-index: 1000;
}


.about .row .content p{
    font-size: 1.6rem;
    color:rgba(204, 204, 204, 0);
    padding:1rem 0;
    line-height: 1.8;
}

.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}


.pez{
margin:auto;
width: 1170px;
height: 180px;
background:url(../images/pecera.png) no-repeat; 
}





  .Mnú {
    width: 100%;
    background-color:rgba(235, 235, 235, 0.767);
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-width: 1168px;
    border-radius: 0%;
    margin-top:60px;
  }


.carta {
margin-top: 25px;
display: flex;
flex-wrap: wrap;
gap:2.7rem;
padding-bottom: 3rem;
justify-content: center;
}

.cajon {

background:url(../images/fondasiamenúpagina.png) no-repeat;


width: 524px;
height: 1300px;
justify-content: space-evenly;

}










.line{
font-family: Arial, Helvetica, sans-serif;
font-size: 34px;
width: center;

margin-left:15px;

margin-top: 25px;
color:  rgb(51, 51, 51);


/*color:  rgb(226, 209, 153)*/

}

.line1{
font-family: Arial, Helvetica, sans-serif;
font-size: 34px;
width: center;

margin-left:15px;

margin-top: 120px;
color:  rgb(51, 51, 51);}

.line2{
font-family: Arial, Helvetica, sans-serif;
font-size: 34px;
width: center;

margin-left:15px;

margin-top: 100px;
color:  rgb(51, 51, 51);

}



/*color:  rgb(226, 209, 153)*/



.x{
background-color:  rgb(51, 51, 51);
margin: 15px;
width:280px;
margin-top: 20px;
height: 5px;
}

.bottom-line {
  margin-top: 25px;

}



h1, h2 {
font-family: serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 7px;
  font-size: 21px;
  
  color: rgb(0, 0, 0);
}

.item1 p {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 21px;
  color: rgb(0, 0, 0);
}


.flavor, .dessert {
margin: 15px;
  text-align: left;
  width: 75%;
}

.flavor1 {
margin: 15px;
  text-align: left;
  width: 75%;
  margin-top: 20px;
}





.space_into_universe{
    width:30px;
    height:40
}










.about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:2rem;
}

.about .image{
   flex:1 1 41rem;
}

.about .image img{
   width: 100%;
}

.about .content{
   flex:1 1 41rem;
}

.about .content .title{
   font-size: 4rem;
   color:var(--black);
}

.about .content p{
   font-size: 1.7rem;
   color:var(--light-black);
   padding:1rem 0;
   line-height: 2;
}

.about .content .icons-container{
   display: flex;
   flex-wrap: wrap;
   gap:2rem;
   margin-top: 3rem;
}

.about .content .icons-container .icons{
   flex:1 1 16rem;
   text-align: center;
   background: var(--light-bg);
   padding:3rem 2rem;
}

.about .content .icons-container .icons img{
   height: 5rem;
}

.about .content .icons-container .icons h3{
   padding-top: 1rem;
   font-size: 2rem;
   color:var(--light-black);
   font-weight: normal;
}





/*carrusel*/


.Carousel{
width:100%;
}

.Carousel h2{
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .3;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

/* images */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 275px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #fff;
    padding: 15px;
}
.slick h4 small{
    font-size: 15px;
    display: block;
}
.slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .85;
}

/* buttons */

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}

/*fin carrusel*/












































/*

.menu {
font-size: 12px;
margin-top: 110px;
color: #cfc7b0;
}

.menu-group-heading
{
font-size: 30px;
border-bottom: 8px solid #cfc7b0;
margin-bottom: 30px;
margin:100px;
padding-bottom:5px;
margin-bottom:30px;
    }

.menu-group-heading2
{
color:#cfc7b0;
font-size: 30px;
border-bottom: 8px solid #cfc7b0;
margin:100px;
padding-bottom:5px;
margin-bottom:30px;
}

.menu-group-heading3
{
font-size: 30px;
margin-top:50px;
border-bottom: 8px solid #e2bb4d;
margin:100px;
padding-bottom:5px;
margin-bottom:30px;
}

.menu-group {
justify-content:first baseline;
}
.menu-item
{
justify-content:space-evenly;
}

.menu-item-text
{
display:contents;
justify-content: center;
}



toyjtyojyojykptyojkoetykjmekjmetnkotmkoétnmetonmtonmtnomtnotm


.menu .slide .title{
margin-top:35px;
   padding:1rem;
   font-size: 3rem;
   color:var(--white);
   background: var(--peru);
   margin-bottom: 1rem;
   text-align: center;

}

.menu .slide .title1{
margin-top:-20px;
   padding:1rem;
   font-size: 1.5rem;
   color:var(--white);
   background: var(--peru);
   margin-bottom: 2rem;
   text-align: center;
}



.menu .slide .box-container{
margin-top: -18px;
   display: flex;
   flex-wrap: wrap;
   gap:1rem;
   padding-bottom: 0.7rem;
}



.info{

    justify-content: center;
}



.menu .slide .box-container .box{
   flex:1 1 41rem;
   background: var(--white);
   padding:1.6rem;
   box-shadow: var(--box-shadow);
   border:0;
   display: flex;
   align-items: center;
   gap:1rem;
   
}



.menu .slide .box-container .box1{
   flex:1 1 41rem;
   background: var(--white);
   padding:1rem;
   box-shadow: var(--box-shadow);
   border:0;
   display: flex;
   align-items: center;
   gap:0.5rem;
  
}










.menu .slide .box-container .box h3{
   font-size: 2.5rem;
   color:#cfc7b0;
   padding-bottom: .2rem;
   justify-content: center;
    
}

.menu .slide .box-container .box p{
   font-size: 1.3rem;
   color:var(--light-black);
   line-height: 1;
    margin-top:5px;
}

.menu .slide .box-container .box .price{
font-size: 1rem;
color:rgb(179, 179, 179);
margin-top:-19px;
margin-right: 60px;

}



.menu .slide .box-container .box:hover{
   transform: scale(1.0);
   cursor: pointer;
}




h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  
  
  
  h2 {
    font-size: 30px;
  }
  
  .established {
    font-style: italic;
  }
  
  
  h1, h2, p      {
  text-align:start;
  }




  .menu {
    width: 100%;
    background-color: rgba(22, 22, 22, 0.904);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 1000px;
  }



  .line{
  width: start;
  }



  .bottom-line{
  width: start;
  }





  .x{
  background-color: rgb(226, 209, 153);
  width:320px;
  margin-top: -20px;
  height: 5px;
  }
  
  .bottom-line {
    margin-top: 25px;
  
  }
  
  h1, h2 {
  font-family: Impact, serif;
  color: rgb(249, 255, 214)
  }
  
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: rgb(226, 209, 153)
  }
  
  .item1 p {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 18px;
    color: rgb(226, 209, 153)
  }
  
  
.flavor{
    text-align: right;
    width: 75%;
}




.flavor1 {
    text-align: right;
    width: 75%;
    margin-top: 20px;
}





.price {
    text-align: center;
    margin-right:1000px;

}



.menu-item-heading
{
display: flex;
justify-content: space-around;
}

.menu-item-name {
justify-content:first baseline;
}

*/







/*







.footer {
	background: rgb(0, 0, 0);
	padding-top: 5rem;
	padding-bottom: 2rem;
    text-align: center;


}




.footer__wrapper {
	display:0 ;
	flex-direction: column;
	gap: 3rem;





}
.footer__logo {
	width: 150px;
	margin-bottom: 2rem;

}
.footer__desc {
	font-size: 1.4rem;
	color: white;
	margin-bottom: 2rem;
}
.footer__socials__title {
	font-size: 1.8rem;
	color: white;
	margin-bottom: 1rem;
}
.footer__socials li {
	display: inline-block;
	margin-right: 0.5rem;
}
.footer__socials a {
	padding: 0.5rem 0.8rem;
	background-color: var(--white-1);
	border: 1px solid var(--green-2);
	border-radius: 8px;
}
.footer__socials svg {
	width: 20px;
	color: white;
}
.footer__text__title {
	font-size: 1.8rem;
	margin-bottom: 1rem;
	color: white;
	font-weight: 600;
}
.footer__text a {
font-size: 1.4rem;
margin-bottom: 0.5rem;
color: white;
font-family: Raleway;
font-weight: 500;
line-height: 1.4em;
width: 40px;
height: 40px;
display: inline-flex;
align-items: center;
justify-content: center;
background-color: rgba(255,255,255,0.1);
border-radius: 100px;





}



.footer{
    background:var(--black);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}



*/





.footer{
   text-align: center;
   background:rgba(255, 255, 255, 0.945);
   /* padding-bottom: 10rem; */
}

.footer .icons-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:0.5rem;
}

.footer .icons-container .icons{
   text-align: center;
   padding:3rem 2rem;
}

.footer .icons-container .icons i{
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   background:var(--peru);
   color:rgb(255, 255, 255);
   margin-bottom: .5rem;
   line-height: 5.8rem;
   font-size: 2rem;
}

.footer .icons-container .icons h3{
   font-size: 2rem;
   color:black;
   padding:1rem 0;
}

.footer .icons-container .icons p{
   line-height: 1.5;
   font-size: 1.7rem;
   color:gray;
   text-transform: none;
}

.footer .share{
   margin:2rem 0;
}




.map1{
margin-right:500px;
}


 
.x1{
background-color:#e2ba4db4;
margin: 15px;
width:1150px;
margin-top: 20px;
height: 1.4px;
}




.logo_footer{
    margin-top:30px;
}

.logo_footer1{
    margin-top:30px;
}

.footer .share a{
   height: 6rem;
   width: 6rem;
   line-height: 5.8rem;
   color:rgb(255, 255, 255);
   background:#000000;
   margin:0 .3rem;
   font-size: 2.5rem;
}  

.footer .share a:hover{
   background: rgb(255, 255, 255);
   color:#000000;
}

.footer .credit{
   padding-top: 5.5rem;
   margin-top: 3rem;
   border-top: black;
   font-size: 2rem;
   color:rgb(255, 255, 255);
   margin-top:-40px;
}


.footer .credit span{
   color:black;

}




















/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }


    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);

    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
